.header{
  color: white;
  font-weight: bolder;
}
#form{
    text-align: center;
    color:white;
}

body{
  background: #7cdbc0;
}
.row {
  display: flex;
}

.column {
  flex: 50%;
}
#rc.container{
  background-color: #00a778;
  border-radius: 10px;
  height: 500;
  width: 400;
    margin:auto;

}

.preencha{
  color: white;
  font-weight: bold;
  text-align: left;
}
.nomeeemail{
  text-align: left;
}
input{
  width: 300;
}
.submit{

}
#button{
  border-radius: 10px;
  background-color: #ff5a00;
  border-color: #ff5a00;
  height: 80;
  width: 360;
  font-weight: bold;
}
#share{
  border-radius: 10px;
  background-color: white;
  border-color: white;
  height: 80;
  width: 360;
  font-weight: bold;
  color: black
}
.namenemail{
  border-radius: 10px;
  border-color: #00a778;
  height: 40;
  width: 370;
}
.nefacil{
  text-align: justify;
}
.iframe{
  max-width: 100%;
  margin:auto;
  border-radius: 10px;
  border-color:#00a778;
}
@media only screen and (max-device-width: 900px) {
/* .menu { width:100%; } */
}
.listamais{
  list-style-image: url('images/icon.png');
  text-align: justify;
}
