.logo {
    vertical-align: middle;
    border-style: none;
    max-width: 80%;
    margin-left: 10;

}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.sharebuttons{
  text-align: center;
  vertical-align: middle;
  margin-top: 25px;
  margin-left: 100px;
}
.sharebuttons2{
  text-align: center;
  vertical-align: middle;
  margin-top: 25px;
  margin-left: 55px;
}
.sharebuttons3{
  text-align: center;
  vertical-align: middle;
  margin-top: 25px;
  margin-left: 55px;
  width: 50px;
  height: 50px;
}

#logototal {
    text-align: center;
    vertical-align: middle;
    border-style: none;
    max-width: 80%;
    margin: 50 100 0 100;
        max-width: 1140px;
        width: 100%;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
min-width: 540;

}

.header{
  color: white;
  font-weight: bolder;
  text-align: center;
  margin-left: 10;
}
#form{
    text-align: center;
    color:white;
}

body{
  background: #7cdbc0;
  padding:5px;
}
.row {
  display: flex;
}
.gdo{
  color: #084C10;
}
.column {
  flex: 50%;
}
#rc.container{
  background-color: #00a778;
  border-radius: 10px;
  height: 500;
  width: 400;
  margin:auto;
  max-width: 80%;
  min-width: 540;
  margin-left: 10;

}
#rc.container2{
  background-color: #00a778;
  border-radius: 10px;
  height: 100;
  width: 400;
  margin:auto;
  max-width: 80%;
  min-width: 540;
  margin-left: 10;
  text-align: left;
  vertical-align: middle;


}

.preencha{
  color: white;
  font-weight: bold;
  text-align: center;

}
.nomeeemail{

  text-align: center;

}
input{
  width: 300;
}
.submit{

}
#button{
  border-radius: 10px;
  background-color: #ff5a00;
  border-color: #ff5a00;
  height: 80;
  width: 360;
  font-weight: bold;
  max-width: 80%;
}
#share{
  border-radius: 10px;
  border-style:solid;
  background-image: url('images/share.png');
  background-color: white;
  background-size: contain;
  background-position: center;
  text-align: center;
  background-repeat: no-repeat;
  border-color: white;
  height: 80;
  width: 360;
  font-weight: bold;
  color: black

}
.namenemail{
  border-radius: 10px;
  border-color: #00a778;
  height: 40;
  width: 370;
  max-width: 80%;
  margin-bottom: 10px;
}
.nefacil{
  text-align: justify;
  font-weight: bolder;
}
.iframe{
  max-width: 100%;
  margin:auto;
  border-radius: 10px;
  border-color:#00a778;
}
@media only screen and (max-device-width: 900px) {
/* .menu { width:100%; } */
}
.listamais{
  list-style-image: url('images/icon.png');
  text-align: justify;
}
